.Contact{
    padding: 100px
}

/*Logo*/
.image-container {
    display: flex;
    justify-content: center;
    margin-top: -50px; /* Adjust the top margin as needed */
}

.photo {
    width: 150px;
    height: auto;
}
/* Form Container */
.highlight-box {
    background-color: #f9f9f9;
    border: 2px solid #ccc; /* Outline border */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 50px #4A2E1B(0, 0, 0, 0.1);
    max-width: 1750px;
    margin: 0 auto;
    border-color: #4A2E1B; /* Change border color here */
}

/* Message Heading Style */
.message-heading {
    text-align: center;
    font-size: 36px; /* Increase font size for emphasis */
    margin-bottom: 30px; /* Add more space below the heading */
    margin-top: 30px; /* Add more space above the heading */
    font-family: 'Catchy Mager', sans-serif; /* Use Catchy Mager font */
    color: #4A2E1B; /* Set the color */
    text-transform: uppercase; /* Convert the text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for style */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

/* Form Input Fields */
.highlight-box input[type="text"],
.highlight-box input[type="email"],
.highlight-box input[type="tel"],
.highlight-box textarea {
    width: calc(100% - 60px);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    font-family: 'Catchy Mager', sans-serif; /* Apply Catchy Mager font */
    color: #4A2E1B; /* Set the color to #4A2E1B */
}

/* Form Input Labels */
.highlight-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Catchy Mager', sans-serif; /* Apply Catchy Mager font */
}

/* Form Submit Button */
.highlight-box input[type="submit"] {
    background-color: #4A2E1B;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block; /* Change from inline-block to block */
    margin: 0 auto; /* Center horizontally */
    font-size: 18px;
}

.highlight-box input[type="submit"]:hover {
    background-color: #2e1a0c;
}
