*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    background-color: #623E2A;
    height: auto;
    align-items: center;
    width:100%;
}

.picfooter{
    opacity: 60%;
    width: 100%;
    height: auto;
}

.footer-content{
    font-size: 1vw;
    color: white;
    position: absolute;
    z-index: 2;
    padding-left: 35%;
    padding-top: 5%;

}

.details{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}