body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
.section p {
    margin-bottom: 15px;
}

#profile-picture{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
#profile-picture img{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 30px;
}
#profile-picture input[type="file"] {
    display: none;
}
#profile-picture label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
#profile-picture label:hover {
    background-color: #45a049;
}

.probasic{
    display: flex;
    justify-content: flex-start;

}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #45a049;
}